<div class="body">
  <app-toolbar></app-toolbar>

  <div class="container">
    <h2>Random PNJ generator</h2>
    <p>Choose your character's attributes and let AI do the rest</p>

    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Race</mat-label>
        <mat-select formControlName="race">
          @for (race of races; track race.value) {
          <mat-option [value]="race.value">{{ race.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          @for (language of languages; track language.value) {
          <mat-option [value]="language.value">
            {{ language.viewValue }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>

    <button mat-button (click)="generateCharacter()">Generate</button>
    @if (character) {
    <app-character [character]="character"></app-character>
    }
  </div>

  <footer>
    <p>Leogout © 2024</p>
  </footer>
</div>
